
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #47b4d4, #ffffff);
    min-height: 100vh;
  }

main{
display: inline-block;
margin-top: 2%;
padding: 15px;
position: relative
}

.pokedex{
    width: 100%;
    max-width: 625px;
}

.pokemon__image{
    position: absolute;
    bottom: 58%;
    left: 32%;
    transform: translate(-63%, 0);
    height: 28%;
    animation: jump 0.5s infinite alternate;
}

@keyframes jump {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-18%);
  }
}

.pokedata{
    position: absolute;
    font-weight: 600;
    color: #fff;
    top: 42%;
    right: 38%;
    font-size: clamp(8px, 5vw ,25px);
}

.pokename{
    color: #aaa;
    text-transform: capitalize;
}

.form{
    position: absolute;
    width: 65%;
    top: 96%;
    left: 17.5%;
}

.searchinput{
    width: 100%;
    padding: 2%;
    border: 2px solid #333;
    font-weight: 600px;
    color: #333;
    border-radius: 5px;
}

.buttons{
    display: flex;
    position: absolute;
    bottom: 35.6%;
    left: 36%;
    width: 20%;
    transform:  translate(-57%, 0);
    gap: 20px;
}

.button{
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-weight: 600;
    background-color: #383737;
    box-shadow:  -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active {
    box-shadow: inset -4px 4px 0 #000;
    transform: translateY(0);
  }


  .pokemon__status {
  position: absolute;
  top: 20%;
  left: 5.1%;
  transform: translate(-63%, 0);
  font-size: clamp(8px, 5vw, 25px);
  text-align: left;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  width: 40%;
  text-transform: capitalize;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  .status-name {
    margin-top: 5px;
    font-weight: 600;
  }
  
  .status-value {
    margin-bottom: 10px;
  }
  

  
  